@media only screen and (max-width: 600px) {
  .mobile-footer-img {
    margin-left: 25%;
  }

  .col-colums-5 {
    flex: 0 0 auto !important   ;
    width: 100% !important;
  }

  .img-owl-class {
    width: 18rem !important;
    text-align: center;
    margin-left: 10%;
  }

  .m-mobile {
    margin: 5px !important;
  }

  .banner-bawah img {
    height: 110px;
  }
  .m-top-m-50 {
    margin-top: -50px !important;
  }
  .m-top-mines {
    margin-top: -90px !important;
  }

  .img-card img {
    width: 350px !important;
    max-height: 500px !important;
    margin-top: -80px !important;
    margin-left: -70px !important;
  }

  .size-card {
    max-height: 500px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .setting-img {
    background-size: 100% 100%;
    background-position: center;
    height: 200px !important;
    background-repeat: no-repeat;
  }
}

.img-owl-class {
  width: 12rem;
}

html .scroll-to-top.visible {
  display: none !important;
}

.col-colums-5 {
  flex: 0 0 auto !important   ;
  width: 19.866667%;
}

.owl-next {
  margin-right: 20px !important;
}

.footer-melayang {
  position: fixed;
  right: 0;
  top: 96%;
  /* top:715px; */

  z-index: 9999;
}

.container-survey {
  position: fixed;
  right: 0;
  /* top: 53%; */
  top: 405px;
  z-index: 9999;
  transform: rotate(-90deg) translateY(100%);
}

.container-survey a .fa {
  transform: rotate(90deg);
  color: #0188cc;
}

.container-survey a:hover {
  color: #005490;
}

.container-survey a {
  /* background-color: #0088ccd6; */
  background-color: white;
  color: black;
  /* klo tulisannya pendek komen display block */
  display: block;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
  text-decoration: unset !important;
  margin-top: -7px;
  font-size: 12px;
}

.container-pelayanan {
  position: fixed;
  right: 0;
  /* top: 37.5%; */
  top: 302px;
  z-index: 9999;
  transform: rotate(-90deg) translateY(100%);
}

.container-pelayanan a .fa {
  transform: rotate(90deg);
  color: #0188cc;
}

.container-pelayanan a:hover {
  color: #005490;
}

.container-pelayanan a {
  /* background-color: #0088ccd6; */
  background-color: white;
  color: black;
  /* klo tulisannya pendek komen display block */
  display: block;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
  text-decoration: unset !important;
  margin-top: -7px;
  font-size: 13px;
}

.container-pengaduan {
  position: fixed;
  right: 0;
  /* top: 37.5%; */
  top: 200px;
  z-index: 9999;
  transform: rotate(-90deg) translateY(100%);
}

.container-pengaduan a .fa {
  transform: rotate(90deg);
  color: #0188cc;
}

.container-pengaduan a:hover {
  color: #005490;
}

.container-pengaduan a {
  /* background-color: #0088ccd6; */
  background-color: white;
  color: black;
  /* klo tulisannya pendek komen display block */
  display: block;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
  text-decoration: unset !important;
  margin-top: -7px;
  font-size: 12px;
}

.container-laporan {
  position: fixed;
  right: 0;
  /* top: 53%; */
  top: 524px;
  z-index: 9999;
  transform: rotate(-90deg) translateY(100%);
}

.container-laporan a .fa {
  transform: rotate(90deg);
  color: #0188cc;
}

.container-laporan a:hover {
  color: #005490;
}

.container-laporan a {
  /* background-color: #0088ccd6; */
  background-color: white;
  color: black;
  /* klo tulisannya pendek komen display block */
  display: block;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
  text-decoration: unset !important;
  /* margin-top:-7px; */
  margin-top: 8px;
  font-size: 12px;
}

/* @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 1;
        }
      }
.blink{
	  animation: blink 15s linear infinite;
} */

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.hover-owl:hover {
  background-color: yellow !important;
}

.banner-bawah img {
  max-height: 270px;
}

.text-stroke {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
} */

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

.posisi-left {
  margin-left: -60px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.m-top-mines {
  margin-top: -50px;
}

.size-card {
  max-height: 200px;
}

.img-card img {
  width: 200px;
  max-height: 500px;
  margin-top: -80px;
  margin-left: -70px;
}

.size-h-150 {
  height: 150px;
  max-height: 155px;
  overflow: auto;
}

.shadow-card {
  background: #fff;
}

.setting-img {
  background-size: 100% 100%;
  background-position: center;
  height: 560px;
  background-repeat: no-repeat;
}

.setting-card {
  background: white !important;
  border: 1px solid #e5e5e5 !important;
}

.m-show {
  display: none;
}

.choices__inner {
  background: transparent !important;
  border-radius: 10px !important;
}
